language: php

php:
  - 5.3
  - 5.4
  - 5.5
  - 5.6
  - hhvm
  
matrix:
  allow_failures:
    - php: hhvm

before_install:
  - sudo apt-get update -qq
  - sudo apt-get install -y libxml2

before_script:
  - wget http://getcomposer.org/composer.phar
  - php composer.phar --dev install
